# 1단계

## 2557 Hello World

In [1]:
print('Hello World!')

Hello World!

## 1000 A+B

In [2]:
a,b=map(int,input().split())
print(a+b)

1 2
3

## 1001 A-B

In [3]:
a,b=map(int,input().split())
print(a-b)

3 2
1

## 1002 A*B

In [4]:
a,b=map(int,input().split())
print(a*b)

1 2
2

## 1008 A/B

In [ ]:
a,b=map(int,input().split())
print(a/b)

## 10869 사칙연산

In [6]:
a,b=map(int,input().split())
print(a+b)
print(a-b)
print(a*b)
print(int(a/b))
print(a%b)

7 3
10
4
21
2
1

## 10926	??!

In [8]:
a : str = input()
a = a + '??!'
print(a)

joonas
joonas??!

## 18108	1998년생인 내가 태국에서는 2541년생?!

In [10]:
a : int = int(input())
a = a - 543
print(a)

2541
1998

## 3003	킹, 퀸, 룩, 비숍, 나이트, 폰

In [11]:
a, b, c, d, e, f=map(int,input().split())
a = a-1
b = b-1
c = c-2
d = d-2
e = e-2
f = f-8
print(a, b, c, d, e, f)

0 1 2 2 2 7
-1 0 0 0 0 -1